body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    width: 100%;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 180px;
    width: 100%;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-links a {
    font-size: 18px;
    color: #818387;
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    font-weight: 400;
    color: #F9FAF8;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 180px;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.left-bottom-header,
.picture1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

}

.left-bottom-header h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h1 {
    margin: 0;
}

.left-bottom-header p {
    margin-top: 5px;
}

.picture1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-height: 200px;
}

.left-bottom-header button {
    font-size: 19px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    cursor: pointer;
    width: auto;
    align-self: flex-start;
    padding: 2px 30px;
    transition: 0.2s; 
    margin-top: 10px;   
}

.left-bottom-header button:hover {
    background-color: #bdc0c8;
    transform: scale(1.05);
    color: #1F2937;
}

.left-bottom-header button:focus {
    outline: none;
    box-shadow: none
}

.content {
    padding: 48px 180px;
    text-align: center;
}

.content h2 {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content-list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    flex-wrap: wrap;
}

.content-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1;
}

li img {
    width: 100%;
    height: auto;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.content-2 {
    background-color: #E5E7EB;
    padding: 100px 180px;
}

.content-2 .quote {
    font-size: 36px;
    font-style: italic;
    margin: 0;
    color: #1F2937;
    font-weight: 300;
}

.content-2 .author {
    font-size: 24px;
    text-align: right;
}

.content-3 {
    padding: 48px 140px;
    text-align: center;
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 100px 40px;
    border-radius: 10px;
}

.content-3 .left {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-3 .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-3 button {
    font-size: 19px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    cursor: pointer;
    width: auto;
    align-self: center;
    padding: 2px 30px;
    transition: 0.2s; 
    border: 2px solid #ffffff;   
}

.content-3 button:hover {
    background-color: #bdc0c8;
    transform: scale(1.05);
    color: #1F2937;
}

.content-3 button:focus {
    outline: none;
    box-shadow: none
}

.content-3 h3, p {
    margin: 0;
}

.content-3 p {
    color: rgb(202, 207, 233);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #1F2937;
    color: #F9FAF8;
}
