body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    width: 100%;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 180px;
    width: 100%;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-links a {
    font-size: 18px;
    color: #818387;
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    font-weight: 400;
    color: #F9FAF8;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 180px;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.left-bottom-header,
.picture1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

}

.left-bottom-header h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h1 {
    margin: 0;
}

.left-bottom-header p {
    margin-top: 5px;
}

.picture1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-height: 200px;
}

.left-bottom-header button {
    background-color: #3882F6;
    border-radius: 20px;
    color: #F9FAF8;
    cursor: pointer;
    width: auto;
    align-self: flex-start;
    padding: 2px 30px;
    transition: 0.2s;    
}

.left-bottom-header button:hover {
    background-color: #bdc0c8;
    transform: scale(1.05);
    color: #1F2937;
}

.left-bottom-header button:focus {
    outline: none;
    box-shadow: none
}

.content {
    padding: 48px 180px;
    text-align: center;
}

.content h2 {
    margin-top: 0;
    margin-bottom: 36px;
}

.content-list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    flex-wrap: wrap;
}

.content-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1;
}

li img {
    width: 100%;
    height: auto;
    border: 4px solid #3882f6;
    border-radius: 16px;
}
